.user {

  .user-search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    .input {
      width: 50%;
    }

  }

  .create-button {
    text-align: center;
    margin-bottom: 24px;
  }

  .table {
    background: var(--body_background);
  }

  .table-cell {
    color: var(--body_color);
  }

  .align-right {
    text-align: right;

    &:first-child {
      text-align: inherit;
    }

  }

  .icons {
    cursor: pointer;

    &:last-child {
      margin-left: 10px;
    }

  }

  .delete-icon {
    color: #F00;
  }

}